* {
    margin: 0;
    padding: 0;
}

body {
display: block;
background-color: #E7F3FF;
    width: 100%;
    height: 100%;
}

header{
 display: block;
 height: 450px;
 background-color:#C8D2E1;
 width: 100%;
}

.head{
    display: flex;
    justify-content: center;
}

.frontphoto{
    background-color:#BEC8D2;
    height: 450px;
}

.head .photo img{
    height: 400px;
    padding-top: 25px;
    padding-bottom : 25px;
}
 #img{
    height: 400px;
 }

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    font-family: sans-serif;
    background-color: #BDC0C5;
}


.logoVK{
    transition: 0.5s;
    height: 35px;
    width: 35px;   
    background-color:#BDC0C5;
}

.logoVK:hover{
    transform: scale(1.2);
}

.logoInst{
    padding-left: 35px;
    transition: 0.5s;
    height: 35px;
    background-color:#BDC0C5;
}

.logoInst:hover{
    transform: scale(1.2);
}

.mainBody{
    width: 100%;
    padding: 10px;
   
}

.block{
    margin-top: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Summary{
    margin: 50px;
    width: 500px;
}

.info{
    border: 4px black;
    padding: 5px;
}

.contact span{
    font-size: 35px;
}

.connection{
    padding: 30px;
}

.soc_link{
    display: inline;
    width: 30px;
    margin: 10px;
}

.fa-vk{
    color: #2888F5;
}


.fa-instagram{
    color:#DC3470;
}
